<%= form_for @favorite do |f| %>
<%= f.hidden_field :user_id, value: "#{@user.id}"%>
<%= f.hidden_field :music_id, value: "#{@music.id}"%>
<%= f.hidden_field :title, value: "#{@music.title}"%>
<%= f.hidden_field :artist, value: "#{@music.artist}"%>
<%= f.hidden_field :genre, value: "#{@music.genre}"%>


<div class="container white-container text-center" style="margin-top: 70px;">
  <div class="row">
    <div class="col-12">
      <h1 class="pacific-font">FavMusic!</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <h5><%= @user.name %>, você está favoritando: </h5>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <p><b>Título: </b><%= @music.title %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p><b>Artista: </b><%= @music.artist %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p><b>Gênero: </b><%= @music.genre %></p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10 offset-1">
      <%= f.submit "Favoritar", class: "btn btn-info btn-block btn-lg" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10 offset-1">
      <%= link_to "Cancelar", musics_path, class: "btn btn-outline-secondary btn-lg btn-block"  %>
    </div>
  </div>
</div>
<% end %>
