<!DOCTYPE html>
<html>
  <head>
    <title>Favmusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: "layouts/navbar" unless @register%>
    <% if @register %>

    <% else %>
      <%= render partial: "layouts/alert_main"%>
    <% end %>
    
    <%= yield %>

  </body>
</html>
